{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript", "prettier", "prettier/@typescript-eslint"],
  "plugins": ["@typescript-eslint", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}
